{% load static %}

        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 pt-5 ">
                        <div class="text-center">
                            <dl class="colores1">
                                <section class="main align-items-stretch">
                                    <div class="main-sup d-flex flex-column justify-content-center align-items-center">
                                        <h1>Taller SERVIEXPRESS</h1>
                                    </div>
                                    <div class="main-inf d-flex justify-content-center align-items-center">
                                        <img class="main-inf-img img-fluid smaller-logo" src="{% static '/img/logo.png' %}" alt="" />

                                    </div>
                                </section>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
  